<ion-header>
  <ion-toolbar>
    <ion-row class="ion-justify-content-end">
      <ion-title>
        To Do List
      </ion-title>
      <ion-col class="ion-align-self-end">
        <ion-button (click)="navigateToLogin()" color="secondary">
          <ion-icon slot="icon-only" name="person"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item *ngIf=""> </ion-item>
  <ion-list>
    <ion-item-sliding *ngFor="let item of todos ">
      <ion-item lines="inset">
        <ion-label>
          <h3>{{item.Title}}</h3>
          <p>{{item.descriptionOf}} | {{item.dateSpan | date}}</p>
        </ion-label>
        <ion-note color="tertiary"
          >Priority Level:{{item.priorityLevel}}
        </ion-note>
      </ion-item>
      <ion-item-options>
        <ion-item-option (click)=" remove(item)" color="success">
          Done
          <ion-icon name="checkmark"></ion-icon>
        </ion-item-option>
      </ion-item-options>
      <ion-item-options side="start">
        <ion-item-option (click)=" remove(item)" color="danger">
          Remove
          <ion-icon name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>
</ion-content>
