<ion-menu contentId="menu-content" side="start" >
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>consilium</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>

   <ion-list ng-hide = "isAuthorized()" *ngIf= "!isAuthorized()">
      <ion-button (click) = "SignUp()"> 
        <ion-label>Sign up</ion-label>
      </ion-button>
      <ion-button (click) = "Login()"> 
          <ion-label>Login</ion-label>
        </ion-button>
   </ion-list> 

    <ion-list *ngIf="isAuthorized()">
      <ion-item >
        <ion-label> User Email </ion-label>
      </ion-item>
      <ion-item>
        <ion-button>
            <ion-label> Completed Tasks </ion-label>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button>
          <ion-label>Settings</ion-label>
        </ion-button>
      </ion-item>
      <ion-item>
        <ion-button expand="full" color ="danger" (click)= "logout()"> 
          <ion-label>Logout</ion-label>
        </ion-button>
      </ion-item>
    </ion-list>

  </ion-content>
</ion-menu>
