<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text *ngIf="error">{{error.message}}</ion-text>
  <form [formGroup]="form" (ngSubmit)="login()">
    <ion-item>
      <ion-label>Email:</ion-label>
      <ion-input formControlName="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Password:</ion-label>
      <ion-input
        type="password"
        formControlName="password"
        placeholder="Password"
      ></ion-input>
    </ion-item>
      <ion-button type="submit" color="secondary" expand="block">Login</ion-button>
  </form>
</ion-content>
